extends layout

block content
  .container.text-center
    h3 Welcome to Task Manager
    p=section
  .container.desktop
    .col-sm-5
      form(method='post', action='/tasks')
        .form-group
          input.form-control(type='text', name='title', placeholder='Write a task title')    
        .form-group
          textarea.form-control(placeholder='Write a task description' rows='4' name='description')
        .form-group
          button.btn.btn-primary.pull-right(type='submit') Add New Task
      hr

    #accordion.panel-group.col-sm-7(role='tablist', aria-multiselectable='true')
      each obj in tasks
        if (!obj.done && user.id == obj.user_id)
          .panel.panel-default
            .panel-heading(role='tab' id=`heading${tasks.indexOf(obj)}`)
              .panel-title
                a.btn.col-sm-7(id='btnTask' role='button', data-toggle='collapse', data-parent='#accordion', href=`#collapse${tasks.indexOf(obj)}`, aria-expanded='false', aria-controls=`collapse${tasks.indexOf(obj)}`) #{obj.title}
                a.btn.btn-default.btnDelete.pull-right(href=`/task/${obj.id}` type='button') Delete
                a.btn.btn-default.btnDone.pull-right(href=`/task/${obj.id}` type='button') Done
              hr
            .panel-collapse.collapse(role='tabpanel', aria-labelledby=`heading${tasks.indexOf(obj)}`, id=`collapse${tasks.indexOf(obj)}`)
              .panel-body
                p #{obj.description}
                | #{obj.createdAt}
    a.btn.btn-default.pull-right.btnLogIn(href="/allDone" type='button') All Done 

